
<h3 class = "text-center">
    Certify User
</h3>

<div id = "body-wrapper" class = "overflow-auto p-5 my-5">
      

    <div class="document-viewer">
      
        
        <div class="document-body p-3" #content>
           
         
                
            <div class="container-fluid">


                <div class="row my-3">
                  
                    <div class="col-md-12 text-center">
                        <img src = "/assets/img/HAU-output-header.png" style = "height:100px;"/>
                    </div>
                   
                </div>  <!-- row header -->
                
                
                <div class="row">
                   
                    <div class="col-md-12">
                        <p class = "text-black">
                            <small><small><small>The Committee on Faculty Ranking and Promotion</small></small></small><br/>
                            <small><small><small>This University</small></small></small><br/>

                            <small><small><small>Thru: Dr. Gertrude P. Tuazon</small></small></small><br/>
                            <small><small><small>Director, Human Resource Management Office</small></small></small><br/>
                            <small><small><small>This University</small></small></small>
                        </p>
                       
                      
                    </div>
                    <div class = "col-md-3"></div>

                </div>  <!-- row header -->
                
                <div class="row">
                   
                    <div class="col-md-12">
                        <p class = "text-black">
                            <small><small><small>Dear Sirs/Mesdames:</small></small></small>
                        </p>
                       
                      
                    </div>
                    <div class = "col-md-3"></div>
                    
                </div>  <!-- row salutation -->

                <div class="row">
                   
                    <div class="col-md-12">

                        <p class = "text-black">
                            <small><small><small>This is to certify that {{ user_fullname }} a {{ user_role }} of the {{ user_department }}, was involved in the following
                            community extension service activities with the corresponding ratings, to which:</small></small></small>
                        </p>
                       
                      
                    </div>
                   
                    
                </div>  <!-- row content -->

                
              
                <div class="row">
                   
                    <div class="col-md-12">
                                   
                        <table class = "table table-bordered">
                            <thead>
                                <th><small><small><small>SY</small></small></small></th>
                                <th><small><small><small>DATE</small></small></small></th>
                                <th><small><small><small>Nature of Involvement</small></small></small></th>
                                <th><small><small><small>Activity</small></small></small></th>
                                <th><small><small><small>CES Points</small></small></small></th>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let i_item of implementation_reports_filter;index as i;">
                                    <td contentEditable="true"> <small><small><small>{{ i_item.for_schoolyear }} </small></small></small></td>
                                    <td contentEditable="true"> <small><small><small>{{ i_item.date_implemented }} </small></small></small></td>
                                    <td contentEditable="true"> <small><small><small>{{ i_item.designation }} </small></small></small></td>
                                    <td contentEditable="true"> <small><small><small>{{ i_item.participation_type }} </small></small></small></td>
                                    <td contentEditable="true"> <small><small><small>2</small></small></small></td>
                                </tr>
                            </tbody>
                        </table>
                      
                    </div>
                   
                    
                </div>  <!-- row events -->


                <div class="row">
                   
                    <div class="col-md-12">
                        <p class = "text-black">
                            <small><small><small>Thank you.</small></small></small><br/>
                            <small><small><small>Sincerely yours,</small></small></small>
                        </p>                       
                      
                    </div>
                 
                    
                </div>  <!-- row end -->

                <div class="row">
                   
                    <div class="col-md-12">
                        <p class = "text-black">
                            <small><small><small>____________________________</small></small></small><br/>
                            <small><small><small>______________</small></small></small>
                        </p>                       
                      
                    </div>
                 
                    
                </div>  <!-- row end -->

                <div class="row">
                   
                    <div class="col-md-6">
                        <p class = "text-black">
                            <small><small><small>Noted by:_____________________</small></small></small><br/>
                            <small><small><small>______________</small></small></small>
                        </p>                       
                      
                    </div>


                    <div class="col-md-6">
                        <p class = "text-black">
                            <small><small><small>Reviewed by:_____________________</small></small></small><br/>
                            <small><small><small>______________</small></small></small>
                        </p>                       
                      
                    </div>
                 
                    
                </div>  <!-- row end -->
                 
            </div> <!-- container-fluid -->

        </div> <!--#content-->
      
    </div> <!-- document-viewer class -->
    
   
  </div> <!-- #body-wrapper -->
  

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button class = "btn btn-success px-5 text-white mx-1">Save</button>
      <button class = "btn btn-warning px-5 text-white mx-1" (click) = "makePDF()">Export</button>
    </div>
  </div>