
<div>


  <div class="container-fluid">

    
    <div class="row">
      <div class="col-md-3">
        
      </div> <!-- col-md-4 -->
      <div class="col-md-5 mt-5">

        <div class="px-5 shadow-lg bg-white shadow-bg-login">
          
          <div class = "d-flex justify-content-center">

            <div class = "shadow-lg bg-white bg-shadow-logo">
              <img src = "assets/img/logo-circle.png" class = "img img-responsive my-1" height = "120"/>
            </div>
  
          </div>


        <div class="app-card">

            
        <div class = "app-card-body mt-2 py-4">

         <h6 *ngIf = "userNotFound" class = "alert alert-warning text-center">Access denied or Account Unknown, Contact Administrator</h6>
        
        <h4 class="text-3xl text-center font-semibold mt-3">Welcome to OCES!</h4>
     
        <h6 class = "text-black text-center"><small class = "font-light">Enter your details to sign in your account</small></h6>

        <form [formGroup]="loginForm" class="flex flex-col">
          <div class="flex flex-col mt-4 mb-1">
            <label for = "email" class = "text-black my-1 text-left d-none"><small>Email Address</small></label>
            <input
              id = "email"
              formControlName="email"
              type="text"
              placeholder="Email"
              class="p-3 border border-gray-300 rounded form-control"
            />
            <span
              *ngIf="
                loginForm.hasError('required', 'email') &&
                loginForm.controls['email'].dirty
              "
              class="text-danger"
              ><small>* Email is required</small></span
            >
            <span *ngIf="loginForm.hasError('email', 'email')" class="text-danger"
              ><small>Email is invalid</small></span
            >
          </div>
          <div class="flex flex-col mt-4 mb-1">
            <label for = "password" class = "text-black my-1 text-left d-none"><small>Password</small></label>
            <input
              id = "password"
              formControlName="password"
              type="password"
              placeholder="Password"
              class="p-3 border border-gray-300 rounded form-control"
            />
            <span
              *ngIf="
                loginForm.hasError('required', 'password') &&
                loginForm.controls['password'].dirty
              "
              class="text-danger"
              ><small>* Password is required</small></span
            >
          </div>
          <button
            [disabled]="loginForm.invalid"
            [class.disabled]="loginForm.invalid"
            (click)="onLogin()"
            style = "width:100%;"
            class="btn btn-primary py-3 px-5 rounded mt-3 text-white w-full"
            type="submit"
          >
            Login
          </button>
        </form>

        <div class = "my-3 text-center">

          <span class = "text-black"><small>Forgot password? Click </small><a routerLink="/forget-password" class="text-indigo-600 cursor-pointer"><small>Here</small></a></span>


        </div> <!-- for Forgot Password -->

      </div> <!-- app-card-body class -->

      </div> <!-- app-card -->

      </div> <!-- shadow -->
      
        
      </div> <!-- col-md-3 -->
    </div>
  </div>
  

  <div class="flex justify-between mt-5 text-center mb-5">
    <span
      ><a routerLink="/register" class="text-indigo-600 cursor-pointer d-none"
        >Create Account</a
      ></span
    ><br/>
   
  </div>

</div>