<div class="app-content p-md-3 p-lg-4">
  <div class="container-xl">
    <!-- organization-form.component.html -->

    <h3>Implementation Report</h3>

    <div class="row">
      <div class="col-10">
        <div class="app-card app-card-chart h-100 shadow-sm">
          <div class="app-card-body p-4">
            <h6 class = "alert alert-warning" *ngIf = "error_count > 0">
    
              <small *ngFor = "let error_validation of error_message;index as ii;">{{ error_validation }}<br/></small>
              
            </h6>
          
            <div class="mb-3">
              <label for="label_default" class = "my-1"><small class = "text-black">SPONSORING DEPARTMENT(S)/PROPONENT(S)</small></label>
              <h6>{{ event_sponsor_department }}</h6>
            </div>
          
            <div class="mb-3">
              <label for="label_default" class = "my-1"><small class = "text-black">PROJECT TITLE</small></label>
              <h6>{{ event_project_title }}</h6>
            </div>
          
            <div class="mb-3">
              <label for="label_default" class = "my-1"><small class = "text-black">BENEFICIARIES</small></label>
              <h6>{{ event_beneficiaries }}</h6>
            </div>
          
            <div class="mb-3">
              <label for="label_default" class = "my-1"><small class = "text-black">VENUE of CES Activity</small></label>
              <h6>{{ event_venue }}</h6>
            </div>
          
            <div class="mb-3">
              <label for="activity_category" class = "my-1"><small class = "text-black">Activity Category</small></label>
              <select class = "form-control" [(ngModel)] = "activity_category">
                <option *ngFor = "let cat_item of activity_category_collections;index as i;" [value] = "cat_item">{{ cat_item }}</option>
              </select>
            </div>
            
          <div class="mb-3">
            <label for="dateImplemented" class = "my-1"><small class = "text-black">Date Implemented</small></label>
            <input type="date" id="dateImplemented" class = "form-control" max = "{{ minDate }}" [(ngModel)]="dateImplemented" />
          </div>
           
          <div class="mb-3">
            <label for="timeImplemented text-black"><small class = "text-black">Time Implemented</small></label>
            <input type="time" id="timeImplemented" class = "form-control" [(ngModel)] ="timeImplemented" />
          </div>
          
          <div class="mb-3">
            <label for="accomplishedObjective text-black"><small class = "text-black">Accomplished Objective</small></label>
            <input
              type="text"
              class = "form-control" 
              id="accomplishedObjective"
              [(ngModel)] ="accomplishedObjective"
            />
          </div>
          
          <div class="mb-3">
            <label for="briefNarrative text-black"><small class = "text-black">Brief Narrative</small></label>
            <textarea id="briefNarrative" class = "form-control" [(ngModel)] ="briefNarrative"></textarea>
          </div>
          
          <div class="mb-3">
            <label for="projectTopic text-black"><small class = "text-black">Project Topic</small></label>
            <input type="text" id="projectTopic" class = "form-control" [(ngModel)] ="projectTopic" />
          </div>
          
          <div class="mb-3">
            <label for="activitySpeaker text-black"><small class = "text-black">Activity Speaker</small></label>
            <input type="text" id="activitySpeaker" class = "form-control" [(ngModel)]="activitySpeaker" />
          </div>
          
          <div class="mb-3">
            <label for="projectVolunteers text-black"><small class = "text-black">Project Volunteers</small></label>
            <input
              type="text"
              class = "form-control" 
              id="projectVolunteers"
              [(ngModel)]="projectVolunteers"
            />
          </div>
          
          <div class="mb-3">
            <label for="designation text-black"><small class = "text-black">Designation</small></label>
            <input type="text" id="designation" class = "form-control" [(ngModel)]="designation" />
          </div>
          
          <div class="mb-3">
            <label for="participationType text-black"><small class = "text-black">Participation Type</small></label>
            <input
              type="text"
              class = "form-control" 
              id="participationType"
              [(ngModel)]="participationType"
            />
          </div>
          
          <div class="mb-3">
          
            <div class="row">
          
              <div class="col-md-6">
                <label for="prepStartTime"><small class = "text-black">Preparation Start Time</small></label>
                <input type="time" id="prepStartTime" class = "form-control" [(ngModel)]="prepStartTime" />
              </div> <!-- col-md-6 Prep Start Time -->
          
              <div class="col-md-6">
                <label for="prepEndTime"><small class = "text-black">Preparation Start End</small></label>
                <input type="time" id="prepEndTime" class = "form-control" [(ngModel)]="prepEndTime" />
              </div>  <!-- col-md-6 Prep Start Time -->
          
            </div> <!-- row Prep Start and End -->
            
          </div> <!-- mb-3 for Prep Start and Time -->
          
          <div class="mb-3">
            <label for="learnings text-black"><small class = "text-black">Learnings</small></label>
            <textarea id="learnings" class = "form-control" [(ngModel)]="learnings"></textarea>
          </div>
          
          <div class="mb-3">
            <label for="projectStrengths text-black"><small class = "text-black">Project Strengths</small></label>
            <textarea id="projectStrengths" class = "form-control" [(ngModel)]="projectStrengths"></textarea>
          </div>
          
          <div class="mb-3">
            <label for="projectWeakness text-black"><small class = "text-black">Project Weakness</small></label>
            <textarea id="projectWeakness" class = "form-control" [(ngModel)]="projectWeakness"></textarea>
          </div>
          
          <div class="mb-3">
            <label for="projectImprovement text-black"><small class = "text-black">Project Improvement</small></label>
            <textarea
              id="projectImprovement"
              class = "form-control" 
              [(ngModel)]="projectImprovement"
            ></textarea>
          </div>
          
          <div class="mb-3">
            <label for="projectCounterpart text-black"><small class = "text-black">Project Counterpart</small></label>
            <input
              type="text"
              id="projectCounterpart"
              class = "form-control" 
              [(ngModel)]="projectCounterpart"
            />
          </div>
          
          <div class="mb-3">
            <label for="projectParticulars text-black"><small class = "text-black">Project Particulars</small></label>
            <input
              type="text"
              id="projectParticulars"
              class = "form-control" 
              [(ngModel)]="projectParticulars"
            />
          </div>
          
          <div class="mb-3">
            <label for="projectAmount"><span class = "text-black"><small class = "text-black">Project Amount</small></span></label>
            <input type="number" id="projectAmount" class = "form-control" [(ngModel)]="projectAmount" />
          </div>
          
          <div class="mb-3">
          
            <label for="imageUpload text-black"><small class = "text-black">Upload 3 Images</small></label>
            <input type="file" class = "form-control" [(ngModel)] = "file_image_string_one" (change) = "choose_file_image_one($event)" accept = "image/*"/>
            <input type="file" class = "form-control" [(ngModel)] = "file_image_string_two"  (change) = "choose_file_image_two($event)" accept = "image/*"/>
            <input type="file" class = "form-control" [(ngModel)] = "file_image_string_three"  (change) = "choose_file_image_three($event)" accept = "image/*"/>
          
          </div>
          
          <div class="mb-3">
            
            <label for="imageUpload text-black"><small class = "text-black">Upload 1 PDF File</small></label>
            <input type="file" class = "form-control" [(ngModel)] = "file_pdf_string"  (change) = "chooseFile($event)" accept = ".pdf"/>
          
          </div>
          
          
          <div class="mb-3">
            <button type="button" (click) = "onImplement()" class = "btn btn-primary btn-lg btn-block text-white">Submit</button>
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>