
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      
    </div> <!-- col-md-4 -->
    <div class="col-md-5">


      <div class = "d-flex justify-content-center">

        <div class = "shadow-lg" style = "border-radius:100%;height:120px;width:120px;">
          <img src = "assets/img/logo-circle.png" class = "img img-responsive" height = "120"/>
        </div>

      </div>
    

      <div class="px-5 shadow-lg" style = "border-radius:50px;">
        
      

      <div class="app-card mt-5">

          
      <div class = "app-card-body mt-2 py-4">

      
      
      <h4 class="text-3xl text-center font-semibold mt-3">Welcome to OCES!</h4>
      <h6 class = "text-black text-center"><small><small>Forgot Password</small></small></h6>

      <form [formGroup]="forgetForm" class="flex flex-col">
        <span class="mb-4">
          Enter your email and we'll send you instructions on how to reset password.
        </span>
        <div class="flex flex-col mt-4 mb-1">
          <input formControlName="email" type="text" placeholder="Enter your E-mail Address" class="p-3 border border-gray-300 rounded form-control">
          <span *ngIf="forgetForm.hasError('required', 'email') && forgetForm.controls['email'].dirty"
          class="text-danger"><small>*email is required</small></span>
          <span *ngIf="forgetForm.hasError('email', 'email')"
          class="text-danger"><small>Email is invalid</small></span>
        </div>
        <div class="mt-2">
          <button (click)="forgetPass()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid"
            class="p-3 rounded-md btn btn-primary text-white px-5 mt-3" style = "width:100%;">Submit</button>
            <button routerLink="/login" class="p-3 mt-2 rounded-md btn btn-secondary px-5" style = "width:100%;">Cancel</button>
        </div>
      </form>

    

    </div> <!-- app-card-body class -->

    </div> <!-- app-card -->

    </div> <!-- shadow -->
    
      
    </div> <!-- col-md-3 -->

  </div>

</div>


<div class="flex justify-between mt-5 text-center mb-5">
  <span
    ><a routerLink="/register" class="text-indigo-600 cursor-pointer d-none"
      >Create Account</a
    ></span
  ><br/>
 
</div>

